[user]
	email = gngeorgiev.it@gmail.com
	name = gngeorgiev
[push]
	default = simple
[credential]
	helper = cache --timeout=10080
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
