[user]
	email = gngeorgiev.it@gmail.com
	name = gngeorgiev
[push]
	default = current
[credential]
	helper = cache --timeout=604800
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pu = push
    pl = pull
    mr = merge --no-ff
    lo = log --oneline --source
    find = log --all --grep
    pick = cherry-pick
	last = log -1 HEAD
[http]
	postBuffer = 1048576000
